PORT=3000
PORT_01=3011
PORT_02=3022
PORT_03=3033
# https://aistudio.google.com/api-keys
GEMINI_API_KEY=****
# https://console.groq.com/keys
GROQ_API_KEY=****
# https://build.nvidia.com/explore/discover > 로그인 뒤 > Get API Key
NIM_API_KEY=****